
@import url('https://fonts.googleapis.com/css?family=Arvo|Saira+Extra+Condensed');

h1{
	font-family: "Saira Extra Condensed";

	color: white
}

h2{
	font-family: "Saira Extra Condensed";

	color: white
}

h3{
	font-family: "Saira Extra Condensed";

	color: white
}

